@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --fonte-titulo:'Passion One', 'Helvetica', 'Arial', sans-serif;
    --fonte-padrao:'Helvetica', 'Arial', sans-serif;   
    --fonte-cordel:'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
/*HEADER*/
header{
    background: black;
    padding: 50px;
    color: white;
    text-align: center;
}
header p{
    font: normal 1.1em var(--fonte-padrao);
}
header h1{
    font: bold 10vw var(--fonte-titulo); 
}
/*FIM DO HEADER*/
/*Formatação de Texto e Padding*/
article{
    padding: 10vh 0px 2em 30px;
    font: normal 3.5vw var(--fonte-cordel);
    line-height: 2em;
}
.outcordel{
    padding-bottom: 2em;
}
.incordel{
    color: white;
    padding: 10px 30px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.603);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.384);
}
/*Backgrounds*/
#cordeljoaninha{
    background: url('imagens/joaninha.jpg') center right /cover no-repeat fixed gray;
    padding: 20px;
}
#cordelpoema{
    background: url('imagens/poema.jpg') center center /cover no-repeat fixed gray;
    padding: 20px;
}
/*Footer*/
footer{
    background: black;
    padding: 10px 0px;
}
footer p{
    color: white;
    text-align: center;
    font: normal 1.1em var(--fonte-padrao);
}